$family-sans-serif: 'Open Sans', sans-serif;
$family-serif: 'Merriweather', serif;

@import 'variables';

@import 'bulma';


.debug {
    font-family: monospace;
    border: 1px solid $grey-lighter;
    display: block;
    padding: 2rem;
    background-color: $grey-lightest
}




.product {
    border: 1px solid $grey-light;
    padding: 2rem;

    .selected-image {
        display: block;
        border: 2px solid $grey-lighter;
    }

    .image-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 1rem -10px;
        img {
            margin: 10px 10px;
            max-width: 120px;
            border: 2px solid $grey-lighter;
            display: block;
            &:hover {
                cursor: pointer;
            }
        }
    }

    

    .product-options {
        display: flex;
        .variant-picker {
            margin-right: 1rem;
        }

    }
}

.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    background-color: $grey-lightest;
    padding: 2rem;

    .product-list-item {
        border: 1px solid $grey-lighter;
        padding: 2rem;
        overflow: hidden;
        background-color: $white;
        margin: 5px;
        width: 250px;
    }
}